._navbar{
    background-color: var(--color01) !important;
}

._formSearch{
    width: 60%;
}

._btnSearch{
    background:  var(--color03) !important;
    border-color: var(--color03) !important;
    border-radius: 0;
}

._btnCart{
    background:  var(--color02) !important;
    border-color: var(--color02) !important;
    border-radius: 0;
}

